CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7688=y
CONFIG_TARGET_ramips_mt7688_LinkIt7688=y
CONFIG_DEVEL=y
CONFIG_EXTERNAL_TOOLCHAIN=y
CONFIG_TARGET_NAME="mipsel-openwrt-linux"
CONFIG_TOOLCHAIN_PREFIX="mipsel-openwrt-linux-"
CONFIG_TOOLCHAIN_ROOT="/opt/toolchain-mipsel-4.8-linaro"
CONFIG_PACKAGE_kmod-loop=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-sound-mtk=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-video-core=y
CONFIG_BUSYBOX_CONFIG_TFTP=y
CONFIG_BUSYBOX_CONFIG_TFTPD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_GET=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_PUT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_BLOCKSIZE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_PROGRESS_BAR=y
CONFIG_PACKAGE_python3=y
CONFIG_PACKAGE_python3-flask=y
CONFIG_PACKAGE_libffmpeg-full=y
CONFIG_PACKAGE_mpd-full=y
CONFIG_PACKAGE_mpd-avahi-service=y
CONFIG_PACKAGE_samba36-client=y
CONFIG_PACKAGE_redis=y
CONFIG_PACKAGE_wget=y
